name: MacOS Build and Test
on:
  push:
    branches: [ main ]
  pull_request:
    branches:
      - main
      # For PR created by ghstack
      - gh/*/*/base

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Setup Python environment
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Check out source repository
        uses: actions/checkout@v2

      - name: Update submodules
        run: git submodule update --init --recursive

#      # Based on https://cristianadam.eu/20200113/speeding-up-c-plus-plus-github-actions-using-ccache/
#      - name: Prepare ccache timestamp
#        id: ccache_cache_timestamp
#        run: |
#          echo "::set-output name=timestamp::$(/bin/date -u "+%Y%m%d-%H:%M:%S")"
#        shell: bash
#
#      - name: Load ccache files
#        uses: actions/cache@v2
#        with:
#          path: .ccache
#          key: ubuntu-ccache-${{ steps.ccache_cache_timestamp.outputs.timestamp }}
#          restore-keys: |
#              ubuntu-ccache-

      - name: Install dependencies from Brew
        run: |
          brew install --formula ninja cmake ccache protobuf icu4c boost gflags glog libevent lz4 lzo snappy xz zstd

#      # Based on https://github.com/facebookincubator/velox/blob/99429407c3d524e07b32b8b19a03aa7382f819cf/.circleci/config.yml#L114-L116
#      - name: Configure ccache
#        run: |
#          echo "$GITHUB_WORKSPACE"
#          CCACHE_DIR=$GITHUB_WORKSPACE/.ccache ccache -sz -M 5G

      - name: Build and install other dependencies
        run: scripts/build_mac_dep.sh ranges_v3 googletest fmt double_conversion folly re2

      - name: Bulid TorchArrow
        run: |
          python setup.py develop --user

      - name: Install dependencies for test
        run: |
          pip3 install pytest  --user
          pip3 install torch==1.10.0+cpu -f https://download.pytorch.org/whl/cpu/torch_stable.html --user

      - name : Run TorchArrow unit tests
        run: pytest --no-header -v torcharrow/test
